html,
body,
.view {
  height: 100%; 
 width: 100%;}


body{
  font-family: Arial;
 /*  background-color: #79a1a5; */

}

.logo{

  width:4.8rem;  /* 15rem */
   height:4.5rem;
  /*  margin-left: -0.5em; */
}


.navbar .container .collapse .navbar-nav .nav-item .nav-link  {
  font-weight: bolder;
  text-decoration: none;
  color:#0f1644;;
  font-size: large;

}

.carousel {
  height: 70%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }



      .carousel-item .view .mask .fadeIn .mb-4 .azul{
        color: #0f1644; 
        font-size: larger;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
   }

   .carousel-item .view .mask .fadeIn .mb-4 .verde{
    color: #3d838b; 
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.carousel-item .view .mask .fadeIn .mb-4 .blanco{
  color: #ffffff; 
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.btn-inscripcion{
 background-color: #3d838b;
}


.carousel-item .view .mask .verdetop{
 margin-bottom: 5rem;
}

.nav-link-hover:hover{
  color: white;

}
.encabezadoverde{
/*   color: #3d838b;  */
  color: #BEEBED; 


}
.encabezadoverdee{
    color: #3d838b; 
   /*  color: #BEEBED; 
   */
  
  }
.center-m{
  text-align: center;
}

.franjaicono{
  width: 100%;
  height: 10rem;
  background-color: #dadada;
  margin-top: 2rem;
  margin-bottom: 2rem;
/*   justify-content: center;
  align-items: center;
  display: flex;*/
} 

.mision{
width: 100%;
height:4rem;
justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 2rem;
}
.misionh1{
  color: #3d838b; 

}
.misiontexto{
  width: 100%;
  height:6rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 1rem;
}

.hrencabezados{
  height: 0.3rem;
  background-color: black;
  border: none;
  border-radius: 0;
}



.franjafrase{
  width: 100%;
  height: 10rem;
  background-color: #06abc6;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidotexto{
  padding-top: 6rem;
  padding-left: 6rem;
}

.encabezados{
  padding-top: 4rem;
  text-align: center;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}
.encabezados2{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.navbar {
  background-color: rgba(219, 242, 255, 0.3);
  /* box-shadow: 0 20px 20px rgba(0,0,0, .2); */
/*   background-color: rgba(9, 112, 69, 0.2); */
 }

.top-nav-collapse {
/*   background-color: #929FBA; */
/*   background-color: rgb(61, 131, 139,1); */
  background-color: #BEEBED;
  /* color:black ;*/
}


.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgb(255, 255, 255,0.5);
}

*, ::after, ::before {
  box-sizing: border-box;
  border-radius: 5px;
}

.navbar .navbar-toggler {
  border-width: 1px;
  outline: 0;
}

body {
  background-color: white;
}




.single-team {
position: relative;
overflow: hidden;
margin-bottom: 10px;
perspective: 1000px;
-webkit-perspective: 1000px;
box-shadow: 0 20px 20px rgba(0,0,0, .2);
}
.team-img {
width: 100%;
height: 250px;
padding: 20px;
text-align: center;
transition: all .5s ease;
}
.one {
background-image: url(../img/a1.jpg);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}
.two {
background-image: url(../img/a2.jpg);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}
.three {
background-image: url(../img/a3.jpg);
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}
.team-text {
position: absolute;
width: 100%;
height: 250px;
padding: 20px;
text-align: center;
transition: all .5s ease;
top: 0;
left: 0;
z-index: 1;
opacity: 0;
background-color: #141523;
backface-visibility: hidden;
transform-style: preserve-3d;
transform: translateX(110px) rotateY(-90deg);
color: #19D28F;

}

.team-text h2 {
text-transform: uppercase;
font-weight: 700;
}
.team-text h4 {
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 300;
}
.team-text p {
line-height: 2;
}
.img-area {
position: relative;
top: 80px;
transform: translateX(-50%);
}
.single-team:hover .team-img {
opacity: 0;
transform: translateX(-110px) rotateY(90deg);
}
.single-team:hover .team-text {
opacity: 1;
transform: rotateY(0);
}

/* PRUEBNAS */
.container2{
  position: relative;
  width: 85%;
  margin: 2rem auto 0;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}
.container2 .card{
  position: relative;
  width: 300px;
  height: 440px;
  background-color:#CCC;
   overflow: hidden; 
  border-radius: 10px;
  transition: 0.5s;
  margin: 0 auto;

}

.container2 .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 20px 20px rgba(0,0,0, .2);
}

.container2 .card .img-box{

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container2 .card:hover .img-box{

  opacity: 1;
}

.container2 .card .img-box img{
  width: 100%;
}

.container2 .card .content{

  position: absolute;
  width: 100%;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: 0.54s;
  padding-top: 60px;
}

.container2 .card:hover .content{
  bottom: 0;


}

.container2 .card:nth-child(1) .content{
  background: linear-gradient(0deg, #c21833, transparent);
}

.container2 .card:nth-child(2) .content{
  background: linear-gradient(0deg, #8012a5, transparent);
}

.container2 .card:nth-child(3) .content{
  background: linear-gradient(0deg, #3a414c, transparent);
}


.container2 .card .content h2{

  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}


.container2 .card .content h2 span{

  color: #ffeb3b;
  font-size: 16px;
}

.container2 .card .content p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}

.container2 .card .content ul{
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.container2 .card .content ul li{
list-style:  none;
}

.container2 .card .content ul li a{
 color: #fff;
 padding: 0 10px;
 font-size: 18px;
 /* transition: 0.5s; */
}

/* ORUEBAS */

@media (max-width:991.98px) {
  .padding {
      padding: 1.5rem
  }
  .carousel-item .view .mask .fadeIn .mb-4{
    font-size: large;
  }
  .contenidotexto{
   padding: 2rem;
  }
  .franjafraseh1{
  font-size: 1.5rem;
  font-weight: bold;
  }
  
  .view {
    height: 100%; 
   width: 100%;}
  
   .container{
     padding-left: 4rem;
     padding-right: 4rem;
   }
   .misionh1{
    font-size: 1.5rem;
    font-weight: bold;

  }
  .mision{

      padding-top: 1rem;
    }
  .misiontextoh3{
    font-size: 1.5rem;
    font-weight: bold;
  }
  #encabezadoconfere{
    font-size: 2rem;
  }
}

@media (max-width:767.98px) {
  .padding {
      padding: 1rem
  }
  .view {
    height: 100%; 
   width: 100%;}
   .misionh1{
    font-size: 2rem;
    font-weight: bold;

  }
  .misionh1{
    font-size: 1.1rem;
    font-weight: bold;

  }
  .mision{

      padding-top: 1rem;
    }
  .misiontextoh3{
    font-size: 1.1rem;
    font-weight: bold;
  }

}

@media (max-width:499px) {
  .padding {
      padding: 1rem
  }
  .navbar-toggler {
    margin-right: 1rem;
  }
  .view {
    height: 100%; 
   width: 100%;}
   .misionh1{
    font-size: 1rem;
    font-weight: bold;

  }
  .mision{

      padding-top: 1rem;
    }
  .misiontextoh3{
    font-size: 1rem;
    font-weight: bold;
  }
}


@media (max-width:320px) {
  .padding {
      padding: 1rem
  }
  .navbar-toggler {
    margin-right: 3rem;
  }
  .view {
    height: 100%; 
   width: 100%;}
   .mision{

    padding-top: 0.5rem;
  }
  .misionh1{
    font-size: 1rem;
    font-weight: bold;

  }
  .mision{

      padding-top: 1rem;
    }
  .misiontextoh3{
    font-size: 1rem;
    font-weight: bold;
  }
}


/* OVERTEXT */
.heroOverlay {
  z-index: 12;
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  margin: auto auto 0 10%;
  width: 80%;
  background: rgba(240, 255, 255, .5);
  padding: 30px 0;
}

.heroOverlay h1 {
  font-size: 5.5vw;
}

.heroOverlay p {
  font-size: 3vw;
}

.heroOverlay a {
  font-size: 2vw;
  padding: .5vw 1vw;
}
/* OVERTEXT */
  
/* footer */

h2{
  text-align:center;
  padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Slider */






.btn.btn-social-icon {
  width: 50px;
  height: 50px;
  padding: 0
}

.btn.btn-rounded {
  border-radius: 50px
}


.btn-facebook {
  background: #3b579d;
  color: #ffffff
}

.btn-youtube {
  background: #e52d27;
  color: #ffffff
}

.btn-twitter {
  background: #2caae1;
  color: #ffffff
}

.btn-dribbble {
  background: #ea4c89;
  color: #ffffff
}

.btn-linkedin {
  background: #0177b5;
  color: #ffffff
}

.btn-instagram {
  background: #dc4a38;
  color: #ffffff
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #2d4278;
  color: #ffffff
}

.btn-youtube:hover,
.btn-youtube:focus {
  background: #c21d17;
  color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1b8dbf;
  color: #ffffff
}

.btn-dribbble:hover,
.btn-dribbble:focus {
  background: #e51e6b;
  color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background: #015682;
  color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
  background: #bf3322;
  color: #ffffff
}
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 375px) {  /* 768 */
  .navbar {
    /* background-color: #1C2331;  */
   /*  background-color: #3d838b; */
   background-color: #BEEBED;

  }
  .navbar-brand{
    padding: 0px;
  }
 

 .logo{

  width:3.8rem;
   height:3.5rem;
  
}


 }
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; 
}



footer .main-footer{	padding: 20px 0;	background: #252525;  border-radius: 0;}
footer ul{	padding-left: 0;	list-style: none;}


.footer-copyright {	background: #222;  border-radius: 0; height: 6rem;}

.footer-copyright p {	color: #969696;	}




.widget{	padding: 20px;	margin-bottom: 40px;}
.widget.widget-last{	margin-bottom: 0px;}
.widget.no-box{	padding-top: 3rem;	background-color: transparent;	margin-bottom: 40px;
	box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none;}
.widget.subscribe p{	margin-bottom: 18px;}
.widget li a{	color:rgb(223, 219, 219);}
.widget li a:hover{	color: #4b92dc;}
.widget-title {margin-bottom: 20px; font-weight: bold;}
.widget-title span {background: #839FAD none repeat scroll 0 0;display: block; height: 1px;margin-top: 0.5rem;position: relative;width: 100%;}
.widget .badge{	float: right;	background: #7f7f7f;}

.thumb-content{
  margin-top: 1rem;
}

.typo-light h1, 
.typo-light h2, 
.typo-light h3, 
.typo-light h4, 
.typo-light h5, 
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small{	color: #fff;}


.footer-social a {
   display: inline-block;
    margin-right: 20px; 
    margin-bottom: 8px; 
    color: #777; 
    border: 0; 
  }
.footer-social a:hover, .footer-social a:focus { 
  color: #aaa; 
  border: 0; 
}
.footer-social i {
   font-size: 24px; 
  
}

